@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Products Blog</h1>    
</div>

<div>
    <div>
        <h2>Welcome to Products Blog</h2>
        <p>
            In this blog you will find all the new products you need. You also can add new products, edit and delete existing products. 
        </p>        
    </div>    
</div>